<form class="page-header">


    <form novalidate class="simple-form">


        <div>


            <div class="row">
                <div class="col-md-2">
                    <div>
                        <label>Caption</label>
                        <input type="text" name="caption" class="form-control"
                               ng-model="search.caption"
                               required
                                >
                    </div>

                </div>
                <div class="col-md-2">
                    <label>From</label>

                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                               ng-model="search.date_from"
                               is-open="open_from.opened" datepicker-options="dateOptions" ng-required="true"
                               close-text="Close" alt-input-formats="altInputFormats"/>
          <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open_from()"><i
                      class="glyphicon glyphicon-calendar"></i></button>
          </span>
                    </p>
                </div>

                <div class="col-md-2">
                    <label>To</label>

                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                               ng-model="search.date_to"
                               is-open="open_to.opened" datepicker-options="dateOptions" ng-required="true"
                               close-text="Close" alt-input-formats="altInputFormats"/>
          <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open_to()"><i
                      class="glyphicon glyphicon-calendar"></i></button>
          </span>
                    </p>
                </div>

                <div class="col-md-2">

                    <button type="submit" class="btn btn-primary"
                            ng-click="search_images(search)">Search
                    </button>

                    Found : {{images.length}} matching pictures.

                </div>
            </div>


            <hr/>

        </div>


    </form>


    <table class="table-striped table">
        <thead class="panel-title">
        <th class="col-md-1" ng-click="changeSorting('date')"><i
                class="fa fa-sort"></i>Date
        </th>
        <th class="col-md-2">Article</th>
        <th class="col-md-2">Caption</th>
        <th class="col-md-2">Pic</th>


        </thead>
        <div>

            <tbody>
            <tr ng-repeat="image in images  |orderBy:sort.column:sort.descending"
                    >

                <td>
                    <div>
                        <strong> {{image.date | date:'dd/MM/yyyy'}}</strong>
                    </div>
                </td>

                <td>
                    <div><a href={{image.article_url}} target="_blank">
                        <strong>
                            {{image.article_url}}</strong>
                    </a>
                    </div>
                </td>
                <td>
                    <div>
                        <strong> {{image.image_caption}}</strong>
                    </div>
                </td>
                <td>
                    <div>
                        <a href={{image.image_url}} target="_blank">
                            <img ng-src={{image.image_url}} alt="Description" height="42"
                                 width="42" target="_blank"/>
                        </a>
                    </div>
                </td>


                <!--   <td>{{customer.activeSites}}</td>-->


            </tr>


            </tbody>
        </div>
    </table>

    <p class="alert alert-info" ng-if="images.length == 0">
        No images found for this Search.
    </p>
    </div>

