<div class="page-header">
    <h1>Coucou</h1>

    <table class="table-striped table">
        <thead class="panel-title">
        <th class="col-md-1" ng-click="changeSorting('name')"><i
                class="fa fa-sort"></i>Date
        </th>
        <th class="col-md-2">Article</th>
        <th class="col-md-2">Caption</th>
        <th class="col-md-2">Pic</th>


        </thead>
        <div>

            <tbody>
            <tr ng-repeat="image in images  |orderBy:sort.column:sort.descending"
                    >

                <td>
                    <div>
                        <strong> {{image.date | date:'MM/dd/yyyy'}}</strong>
                    </div>
                </td>

                <td>
                    <div><a href={{image.article_url}} target="_blank">
                        <strong>
                            {{image.article_url}}</strong>
                    </a>
                    </div>
                </td>
                <td>
                    <div>
                        <strong> {{image.image_caption}}</strong>
                    </div>
                </td>
                <td>
                    <div>
                        <a href={{image.image_url}} target="_blank">
                            <img ng-src={{image.image_url}} alt="Description" height="42"
                                 width="42" target="_blank"/>
                        </a>
                    </div>
                </td>


                <!--   <td>{{customer.activeSites}}</td>-->


            </tr>


            </tbody>
        </div>
    </table>

    <p class="alert alert-info" ng-if="images.length == 0">
        No images found for this Search.
    </p>
</div>

